# Vanguard Bot Configuration Template
# Copy this to .env and fill in the values.

# Discord API Token
TOKEN=

# Vanguard Branding
BOT_NAME=Vanguard
SUPPORT_SERVER_LINK=https://discord.gg/3TJEacm6RD # Official support server for any inquireies or bugs

# System Config
DATABASE_PATH=./vanguard.sqlite
DEFAULT_COOLDOWN=3

# Embed Colors (Hex)
COLOR_SUCCESS=0x00FF00
COLOR_ERROR=0xFF0000
COLOR_INFO=0x5865F2
COLOR_WARN=0xFFFF00
COLOR_TIMEOUT=0x0000FF
COLOR_KICK=0xFFA500

# Logic Config 
OWNER_ID=
PUBLIC_OWNER_ID=
DEV_IDS=
SUPPORT_SERVER_ID=

# Log Channels
LOG_BANS_CHANNEL=
LOG_KICKS_CHANNEL=
LOG_WARNS_CHANNEL=
LOG_TIMEOUTS_CHANNEL=
LOG_CONFIG_CHANNEL=
LOG_ERRORS_CHANNEL=
